* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    padding-top: 15px;
}

.navbar .navbar-list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar .navbar-list .navbar-account {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.navbar .navbar-list .navbar-account .account-img {
    background-color: #FFF;
    padding: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #9999995e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-list .navbar-account .account-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navbar .navbar-list .navbar-account .account-details span {
    font-size: 13px;
    color: #555;
}

.navbar .navbar-list-items {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar .navbar-list-items .navbar-list-item {
    margin-left: 25px;
    position: relative;
}

.navbar .navbar-list-items .navbar-list-item a {
    color: #222;
    font-size: 22px;
}

.navbar .navbar-list-items .navbar-list-item a+span {
    background-color: tomato;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: -5px;
    right: -10px;
}


/* ------------------------------------------- Login ------------------------------------------- */

.text-center{
    text-align: center;
    margin: 25px 0px;
}

.section-register {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.shadow {
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
    margin-top: 140px;
    margin-bottom: 50px;
}



.w-25 {
    width: 35%;
}

.js-register-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}


.img-shape1 {
    position: absolute;
    top: 25%;
    left: 20%;
    bottom: 30%;
}

.img-shape2 {
    position: absolute;
    top: 60%;
    left: 20%;
}

.img-shape3 {
    position: absolute;
    top: 25%;
    right: 20%;
}

.img-shape4 {
    position: absolute;
    top: 60%;
    right: 20%;
    bottom: 40%;
}


@media screen and (max-width: 768px) {
    .w-25 {
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    .w-25 {
        width: 80%;
    }
}